@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

:root {
    --blue: #006BDF;
    --black: #00143D;
    --white: #FFFFFF;
    --grey: #F8F9FA;
}


/* back to top */

#back_to_top {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    background: var(--black);
    color: var(--white);
    position: fixed;
    right: -50px;
    bottom: 20px;
    z-index: 3;
    cursor: pointer;
    transition: .5s;
}

.Top {
    right: 20px !important;
    transition: .5s !important;
}

header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/images/1.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

header nav {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s;
}

nav.nav-bg {
    background: var(--black);
    width: 100%;
    height: 55px;
    position: fixed;
    top: 0;
    z-index: 10;
    transition: .5s;
}

nav .logo {
    text-decoration: none;
    font-size: 19px;
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
}

.navlink {
    display: flex;
    align-items: center;
}

.navlink li {
    list-style: none;
}

.navlink li a {
    text-decoration: none;
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    padding-right: 20px;
}

.navMenu {
    width: 100%;
    height: 100%;
    padding: 25px;
    position: fixed;
    top: 0;
    left: -100%;
    background: var(--black);
    transition: all .5s;
    z-index: 9;
}

.navMenu i {
    font-size: 30px;
    color: var(--white);
    float: right;
    cursor: pointer;
}

.navMenu h1 {
    text-align: center;
    padding-top: 10px;
    margin-top: 30px;
    color: var(--grey);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.slideIn {
    left: 0;
    transition: .5s;
}

.menu-link {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80%;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}

.menu-link li {
    margin-top: 20px;
}

.menu-link li a {
    font-size: 18px;
}


/* toggler */

.tog {
    display: none;
    flex-direction: column;
    gap: 5px;
}

.tog .bar {
    width: 25px;
    height: 2px;
    background: var(--white);
}


/* dropdown */

.room {
    position: relative;
}

.room .dropdown {
    width: 175px;
    position: absolute;
    top: 20px;
    left: -10px;
    background: var(--white);
    padding: 15px;
    transform: scale(0);
    transition: transform .5s;
    border-radius: 5px;
    z-index: 5;
    border-top: 3px solid var(--blue);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.room:hover .dropdown {
    transform: scale(1);
    transition: .5s;
}

.dropdown li {
    padding: 5px 10px;
    margin-top: 5px;
    list-style: none;
}

.dropdown li a {
    color: var(--blue);
    transition: .5s;
    text-transform: uppercase;
    font-size: 12px;
}

.dropdown li a:hover {
    color: var(--black);
    transition: .5s;
    font-weight: 600;
}

.intro-container {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
}

.intro-container .intro-box {
    width: 480px;
    max-width: 100%;
    height: auto;
    padding: 20px;
    background: rgba( 255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 0.5px);
    -webkit-backdrop-filter: blur( 0.5px);
    border-radius: 8px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
}

.intro-box h3 {
    text-align: center;
    font-size: 11px;
    color: var(--black);
    margin-top: 10px;
    padding: 10px;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}

.intro-box h1 {
    text-align: center;
    font-size: 45px;
    color: var(--white);
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 20px;
}

.intro-box h2 {
    text-align: center;
    font-size: 19px;
    font-family: 'Montserrat', sans-serif;
    color: var(--black);
}

.intro-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.intro-btn a button {
    padding: 15px 25px;
    font-family: 'Montserrat', sans-serif;
    margin-right: 10px;
    cursor: pointer;
}

.intro-btn :nth-child(1) button {
    background: var(--black);
    color: var(--white);
    transition: .5s;
}

.intro-btn :nth-child(1) button:hover {
    transition: .5s;
    font-weight: 600;
    color: var(--grey);
}

.intro-btn :nth-child(2) button:hover {
    color: var(--black);
    transition: .5s;
    font-weight: 600;
}


/* ROOM SECTION */

#room {
    width: 100%;
    padding: 20px;
    background: #F8F9FA;
}

#room h1 {
    margin-top: 25px;
    text-align: center;
    padding-top: 25px;
    color: var(--black);
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
}

.room-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 30px;
    padding-top: 20px;
}

.room-item {
    width: 300px;
    height: auto;
    background: var(--white);
    overflow: hidden !important;
    transition: .5s;
    cursor: pointer;
}

.room-item:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: .5s;
}

.img {
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
}

.room-item:hover.room-item img {
    transform: scale(1.1);
    transition: .5s;
}

.room-item img {
    width: 100%;
    transition: .5s;
}

.room-item h3 {
    text-align: center;
    font-size: 19px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.room-item h4 {
    margin-top: 15px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--black);
    padding-bottom: 20px;
}


/* ABOUT SECTION */

.about {
    width: 100%;
    padding: 30px;
}

.about_content {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 35px;
    padding-top: 30px;
}

.about_l {
    width: 100%;
    position: relative;
}

.about_l::after {
    content: url('https://images.unsplash.com/photo-1614518921956-0d7c71b7999d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTJ8fGhvdGVsJTIwcm9vbXxlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60');
    width: 300px;
    overflow: hidden;
    object-fit: cover;
    max-width: 100%;
    height: 300px;
    position: absolute;
    right: 25px;
    bottom: -60px;
    border: 15px solid var(--grey);
    display: none;
}

.about_l img {
    width: 100%;
    border: 15px solid var(--grey);
}

.about_r {
    width: 100%;
    position: relative;
}

.about_r h1 {
    padding: 20px;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--black);
    font-size: 40px;
}

.about_r p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 15px 20px;
}

.about_r .about_btn {
    margin-top: 20px;
    margin-left: 20px;
    text-decoration: none;
    color: var(--black);
    font-family: 'Josefin Sans', sans-serif;
}


/* FEATURES STYLING */

.feature {
    width: 100%;
    padding: 20px;
    margin-top: 20px;
}

.feature h1 {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--black);
    font-size: 40px;
    margin-top: 35px;
    padding: 20px;
}

.feature_content {
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.fea_box {
    width: 300px;
    height: auto;
    max-width: 100%;
    text-align: center;
    padding: 20px;
    background: var(--grey);
    transition: .5s;
    cursor: pointer;
}

.fea_box:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: .5s;
}

.fea_box img {
    width: 60px;
    max-width: 100%;
}

.fea_box h3 {
    font-size: 19px;
    font-family: 'Montserrat', sans-serif;
    padding: 15px 0px;
}


/* booking section */

.booking {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/images/4.jpg');
    background-size: cover;
    /* background-position: center; */
    background-attachment: fixed;
    height: 70vh;
    padding: 25px;
    display: grid;
    place-items: center;
}

.book_content {
    width: 90%;
    padding: 25px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.book_l h1 {
    font-size: 2.5em;
    color: var(--white);
    margin-bottom: 15px;
    font-family: 'Josefin Sans', sans-serif;
}

.book_l a {
    padding: 10px 20px;
    text-decoration: none;
    background: var(--black);
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
}

.form {
    width: 300px;
    max-width: 100%;
    height: 350px;
    background-color: rgba(255, 255, 255, 0.815);
    padding: 20px;
}

.form h3 {
    font-size: 16px;
    padding: 10px 0px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

input,
select {
    width: 100%;
    background: var(--grey);
    padding: 10px 15px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
    caret-color: var(--black);
}

.form form button {
    margin-top: 10px;
    width: 100%;
    background: var(--black);
    color: var(--white);
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.date_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    -webkit-gap: 10px;
}

.construction {
    width: 100%;
    height: 50vh;
    padding: 20px;
    display: grid;
    place-items: center;
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}


/* MEDIA QUERIES */

@media (min-width: 1280px) {
    .about_l::after {
        display: block;
    }
}

@media (max-width: 650px) {
    .tog {
        display: flex;
    }
    .navlink {
        display: none;
    }
    .navMenu .navlink {
        display: flex;
    }
    .room-item,
    .fea_box {
        width: 100%;
    }
    .intro-box h1 {
        font-size: 30px;
    }
    .about_content {
        flex-wrap: wrap;
        padding: 10px;
    }
    .about_l img {
        width: 100%;
    }
    .book_content {
        height: 100vh;
    }
    .booking {
        height: 100vh;
        padding: 30px;
    }
}